/* TODO: better class naming + use variable from theming? */

.svg {
    background: rgba(121, 121, 121, 0.947);
}

.legend {
    background: rgba(255, 255, 255, 0.242);
    fill: rgba(255, 255, 255, 0.303);
}
.legend-label {
    fill: rgb(12, 12, 12);
    stroke: rgba(7, 7, 7, 0.029);
    font-weight: bold;
}

.title {
    fill: white;
    font-size: 1.75rem;
    font-weight: bold;
}

.tick {
    color: rgb(201, 201, 201)
}

.max-line {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-dasharray: 70, 10;
    stroke-width: 4px;
}

.axis-label {
    stroke: white;
    fill: white;
    font-size: 1.25rem;
}
.axis-subtitle-label {
    stroke: rgba(255, 255, 255, 0.514);
    fill: rgba(255, 255, 255, 0.753);
    font-size: 1rem;
}

.axis-subtitle-label--important {
    fill: rgb(0, 255, 221);
    stroke: rgb(0, 255, 255);
}

.lines {
    stroke-width: 4px;
    fill: none;
}

.data-line {
    stroke: rgb(70, 221, 255);
    mix-blend-mode: hard-light;
    stroke-linejoin: miter;
}

.data-line-highload {
    stroke: red;
}
.data-line-recovery {
    stroke: green;
}

.data-circle {
    fill: rgb(106, 0, 255);
}
.frame {
    opacity: .2;
}

.frame-highload,
.frame-highload-in-progress {
    fill: #FF0000
}

.frame-recovery {
    fill: rgb(34, 255, 0)
}

.frame-text {
    fill: #000;
    stroke: #000;
}
.tooltip {
    position: absolute;
    z-index: 999;
    opacity: 0;
    padding: .5rem 1rem;
    font: 1rem;
    background: rgb(91, 91, 91);
    border: 0px;
    border-radius: .2rem;
    pointer-events: none;
}